body{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;

background-color: rgb(207, 199, 199);
}
form{
    height:75%;
    width:30%;
    margin-top:7%;
    margin-left: 33%;
    padding:3%;
    border:solid black 2px;
    
}
/* Footer Starts here */
.facebook{
    background-color: darkblue;
    border-color: darkblue;
  }
  .footer{
    margin-top:100px;
    margin-left:100px;
    margin-bottom: 25px;
  }
  /* Footer Ends here */